.featured-item{
	position: relative;
	color: #EDE0D4;
	border-radius: 10px;
	overflow: hidden;
	height: 250px;
	flex: 1;
}

.featured-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featured-titles {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
